.content {
  display: flex;

  .control-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
    margin: 0 10px;

    .start-wrapper {
      margin-bottom: 20px;

      button {
        margin: 10px 0;
      }
    }

    .powerups-wrapper {
      display: flex;
      flex-direction: column;
      align-items: start;

      .powerup {
        display: flex;
        width: 100%;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid black;
        cursor: pointer;

        &.checked{
          border: 2px solid green;
        }
      }


    }
  }
}
