<form class="card auth-form" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Create New User</h2>

  <div class="form-control">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
    <div
      *ngIf="isInvalidInput('name')"
      class="validation">
      <small *ngIf="isInputEmpty('name')">
        Name is empty.
      </small>
      <small *ngIf="isShortLengthInput('name')">
          Name must be {{ form.get('name').errors.minlength.actualLength }}.
          Now {{ form.get('name').errors.minlength.requiredLength }}.
      </small>
      <small *ngIf="isMissingLetters('name')">
        Special symbols disallow
      </small>
      <small *ngIf="isInvalidNameCase('name')">
        Should contain two words, Kebab-Case, CamelCase, Space Case.
      </small>
    </div>
  </div>

  <div class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="isInvalidInput('email')"
      class="validation">
      <small *ngIf="isInputEmpty('email')">
        Email is empty.
      </small>
      <small
        *ngIf="isInvalidDotsLimit('email')"
      >
        No more 3 dots before @.
      </small>
      <small
        *ngIf="isInvalidEmailDomain('email')"
      >
        Supports only (.com, .net, .org, .co, .us) domains, only 5 symbols after @.
      </small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="isInvalidInput('password')"
      class="validation">
      <small
        *ngIf="isInputEmpty('password')"
      >Password is empty.</small>
      <small *ngIf="isShortLengthInput('password')">
        Password must be {{ form.get('password').errors.minlength.actualLength }}.
        Now {{ form.get('password').errors.minlength.requiredLength }}.
      </small>
      <small *ngIf="isInvalidPasswordFormat('password')">
        Should contain at least one uppercase letter, one number, one special symbol($ % . & ! -)
      </small>
      <small
        *ngIf="isIncludesEmail('password')"
      >The password contains part of Email</small>
      <small
        *ngIf="isIncludesName('password')"
      >The password contains part of Name</small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-success"
    [disabled]="form.invalid"
  >Create account</button>
</form>


