.favorites-wrapper {
  max-height: 80vh;
  overflow-y: scroll;
  position: relative;
  //padding: 1rem 1rem 185px 1rem;
  padding: 1rem;
  border: 1px solid black;


  .btn-add-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 60px;
    right: 100px;
    height: 60px;
    width: 60px;
    background-color: yellow;
    color: black;
    border-radius: 50%;
    font-size: 50px;
  }
}
