.hero-wrapper {
  display: flex;

  .logo-wrapper {
    width: 300px;
    height: 300px;
    margin-right: 2rem;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  .content {
    border: 1px solid black;
    padding: 1rem;
    width: 100%;

    .col {
      margin: 0 1rem;
    }

    .first-block {
      display: flex;
    }
  }
}
