<div class="nav">
  <a
    class="btn btn-light"
    [ngClass]="{active: currentTab === 'heroes'}"
    (click)="clickHero()"
  >Heroes list</a>
  <a
    class="btn btn-light"
    [ngClass]="{active: currentTab === 'history'}"
    (click)="clickHistory()"
  >History</a>
  <a
    class="btn btn-light"
    [ngClass]="{active: currentTab === 'power'}"
    (click)="clickPower()"
  >Power ups</a>
</div>

<div *ngIf="currentTab === 'heroes'">
  <app-hero-item
    *ngFor="let hero of heroesService.favoriteHeroes"
    [hero]="hero"
  ></app-hero-item>
</div>

<app-history-tab *ngIf="currentTab === 'history'"></app-history-tab>

<app-power-tab *ngIf="currentTab === 'power'"></app-power-tab>
